In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

pd.options.display.max_columns = 25
%matplotlib inline

## Scraping NOAA for currents
The new beta predictions from NOAA allow requests for .csv, .txt, and .xml files.  A requesting URL looks like the following:

http://tidesandcurrents.noaa.gov/noaacurrents/DownloadPredictions?fmt=txt&i=&d=2015-07-12&r=1&tz=LST%2fLDT&u=1&id=ACT3431_1&t=24hr&i=&threshold=leEq&thresholdvalue=

where:
- __?fmt=txt__ could be any of the three permitted formats (__csv__, __txt__, __xml__)
- __?id=ACT3431__ is the ID for the station of interest
- __?d=2015-07-12__ is the date for the currents requested

http://tidesandcurrents.noaa.gov/noaacurrents/CreateAnnual

http://tidesandcurrents.noaa.gov/noaacurrents/CreateAnnual?id=ACT3431_1&fmt=xml&year=2016&tz=LST/LDT&u=1&t=24hr

get the whole year with CreateAnnual

In [3]:
#def getCsvData(url):
    #  Takes as input a url to http://tidesandcurrents.noaa.gov/noaacurrents/CreateAnnual 
url = 'http://tidesandcurrents.noaa.gov/noaacurrents/CreateAnnual?id=ACT3431_1&fmt=csv&year=2016&tz=LST/LDT&u=1&t=24hr'
#website = requests.get(url)
#print website.text
#thisStation = np.loadtxt(website.text,comments="Date",delimiter=",",unpack=True)
data = pd.read_csv(url,parse_dates=[1],infer_datetime_format=True)
data.head()

  Date_Time (LST/LDT)   Event  Speed (knots)
0    2016-01-01 02:40   slack              -
1    2016-01-01 06:06     ebb           -2.1
2    2016-01-01 09:27   slack              -
3    2016-01-01 11:55   flood            1.1
4    2016-01-01 15:04   slack              -

In [19]:
url_dp_root = 'http://tidesandcurrents.noaa.gov/noaacurrents/DownloadPredictions?fmt=csv&tz=LST/LDT&u=1&t=24hr'
urlpre = url_dp_root+'&id=ACT3431_1&d=2015-12-31'
urlpost = url_dp_root+'&id=ACT3431_1&d=2017-01-01'
post_data = pd.read_csv(urlpost,parse_dates=True,infer_datetime_format=True)
post_data.head()

  Date_Time (LST/LDT)   Event  Speed (knots)
0    2017-01-01 02:54     ebb          -2.44
1    2017-01-01 05:57   slack              -
2    2017-01-01 08:31   flood           1.42
3    2017-01-01 11:46   slack              -
4    2017-01-01 15:18     ebb          -2.50

In [4]:
data[data == '-'] = 0 #change slack values to zero knots
data = data.rename(columns={'Date_Time (LST/LDT)': 'date_time',' Event': 'event', ' Speed (knots)': 'knots'})
print('data keys=', data.keys())
data.head()

data keys= Index(['date_time', 'event', 'knots'], dtype='object')

          date_time   event knots
0  2016-01-01 02:40   slack     0
1  2016-01-01 06:06     ebb  -2.1
2  2016-01-01 09:27   slack     0
3  2016-01-01 11:55   flood   1.1
4  2016-01-01 15:04   slack     0

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2829 entries, 0 to 2828
Data columns (total 3 columns):
date_time    2829 non-null object
event        2829 non-null object
knots        2829 non-null object
dtypes: object(3)
memory usage: 88.4+ KB

In [17]:
#Create hourly version of data
trng = pd.date_range('1/1/2016','01/01/2017',freq='30min')
#print trng
print(trng[0])
print(trng.size)
speedKnots = np.zeros(trng.size)
event = (('interp',)*trng.size)
data_interp = {'date_time': trng,
        'event': event,
        'knots': speedKnots}
data_interp = pd.DataFrame(data_interp)
print('\ndata_interp data types\n', data_interp.dtypes,'\n')
data_interp.head()

2016-01-01 00:00:00
17569

data_interp data types
 date_time    datetime64[ns]
event                object
knots               float64
dtype: object

            date_time   event  knots
0 2016-01-01 00:00:00  interp      0
1 2016-01-01 00:30:00  interp      0
2 2016-01-01 01:00:00  interp      0
3 2016-01-01 01:30:00  interp      0
4 2016-01-01 02:00:00  interp      0

In [18]:
#df.dtypes
print('data data types\n', data.dtypes,'\n')
data['knots'] = pd.to_numeric(data['knots'])
data['date_time'] = pd.to_datetime(data['date_time'])
print('\ndata data types\n', data.dtypes,'\n')
#print data_interp.dtypes
concatenated = pd.concat([data,data_interp])
concatenated = concatenated.sort('date_time',ascending=1)
concatenated

data data types
 date_time    object
event        object
knots        object
dtype: object


data data types
 date_time    datetime64[ns]
event                object
knots               float64
dtype: object

C:\Users\btq\Anaconda\envs\py35\lib\site-packages\ipykernel\__main__.py:3: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  app.launch_new_instance()
C:\Users\btq\Anaconda\envs\py35\lib\site-packages\ipykernel\__main__.py:8: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

                date_time   event  knots
0     2016-01-01 00:00:00  interp    0.0
1     2016-01-01 00:30:00  interp    0.0
2     2016-01-01 01:00:00  interp    0.0
3     2016-01-01 01:30:00  interp    0.0
4     2016-01-01 02:00:00  interp    0.0
5     2016-01-01 02:30:00  interp    0.0
0     2016-01-01 02:40:00   slack    0.0
6     2016-01-01 03:00:00  interp    0.0
7     2016-01-01 03:30:00  interp    0.0
8     2016-01-01 04:00:00  interp    0.0
9     2016-01-01 04:30:00  interp    0.0
10    2016-01-01 05:00:00  interp    0.0
11    2016-01-01 05:30:00  interp    0.0
12    2016-01-01 06:00:00  interp    0.0
1     2016-01-01 06:06:00     ebb   -2.1
13    2016-01-01 06:30:00  interp    0.0
14    2016-01-01 07:00:00  interp    0.0
15    2016-01-01 07:30:00  interp    0.0
16    2016-01-01 08:00:00  interp    0.0
17    2016-01-01 08:30:00  interp    0.0
18    2016-01-01 09:00:00  interp    0.0
2     2016-01-01 09:27:00   slack    0.0
19    2016-01-01 09:30:00  interp    0.0
20    2016-01-01 10:00:00  interp    0.0
21    2016-01-01 10:30:00  interp    0.0
22    2016-01-01 11:00:00  interp    0.0
23    2016-01-01 11:30:00  interp    0.0
3     2016-01-01 11:55:00   flood    1.1
24    2016-01-01 12:00:00  interp    0.0
25    2016-01-01 12:30:00  interp    0.0
...                   ...     ...    ...
17543 2016-12-31 11:30:00  interp    0.0
17544 2016-12-31 12:00:00  interp    0.0
17545 2016-12-31 12:30:00  interp    0.0
17546 2016-12-31 13:00:00  interp    0.0
17547 2016-12-31 13:30:00  interp    0.0
17548 2016-12-31 14:00:00  interp    0.0
17549 2016-12-31 14:30:00  interp    0.0
2825  2016-12-31 14:36:00     ebb   -2.5
17550 2016-12-31 15:00:00  interp    0.0
17551 2016-12-31 15:30:00  interp    0.0
17552 2016-12-31 16:00:00  interp    0.0
17553 2016-12-31 16:30:00  interp    0.0
17554 2016-12-31 17:00:00  interp    0.0
17555 2016-12-31 17:30:00  interp    0.0
2826  2016-12-31 17:45:00   slack    0.0
17556 2016-12-31 18:00:00  interp    0.0
17557 2016-12-31 18:30:00  interp    0.0
17558 2016-12-31 19:00:00  interp    0.0
17559 2016-12-31 19:30:00  interp    0.0
17560 2016-12-31 20:00:00  interp    0.0
2827  2016-12-31 20:13:00   flood    1.4
17561 2016-12-31 20:30:00  interp    0.0
17562 2016-12-31 21:00:00  interp    0.0
17563 2016-12-31 21:30:00  interp    0.0
17564 2016-12-31 22:00:00  interp    0.0
17565 2016-12-31 22:30:00  interp    0.0
17566 2016-12-31 23:00:00  interp    0.0
2828  2016-12-31 23:28:00   slack    0.0
17567 2016-12-31 23:30:00  interp    0.0
17568 2017-01-01 00:00:00  interp    0.0

[20398 rows x 3 columns]

In [17]:
trng = pd.date_range('1/1/2015','01/01/2016',freq='H')
print trng
print trng[0]
print trng.size
speedKnots = np.zeros(trng.size)
event = (('interp',)*trng.size)
#print event
data_interp = {'date_time': trng,
        'event': event,
        'knots': speedKnots}
data_interp = pd.DataFrame(data_interp)
data_interp

#df.dtypes
print data.dtypes
data = data.convert_objects(convert_dates=True,convert_numeric=True)
data['data_time'] = pd.to_datetime(data.date_time)
print data.dtypes
print data_interp.dtypes
concatenated = pd.concat([data,data_interp])

<class 'pandas.tseries.index.DatetimeIndex'>
[2015-01-01 00:00:00, ..., 2016-01-01 00:00:00]
Length: 8761, Freq: H, Timezone: None
2015-01-01 00:00:00
8761

               date_time   event  knots
0    2015-01-01 00:00:00  interp      0
1    2015-01-01 01:00:00  interp      0
2    2015-01-01 02:00:00  interp      0
3    2015-01-01 03:00:00  interp      0
4    2015-01-01 04:00:00  interp      0
5    2015-01-01 05:00:00  interp      0
6    2015-01-01 06:00:00  interp      0
7    2015-01-01 07:00:00  interp      0
8    2015-01-01 08:00:00  interp      0
9    2015-01-01 09:00:00  interp      0
10   2015-01-01 10:00:00  interp      0
11   2015-01-01 11:00:00  interp      0
12   2015-01-01 12:00:00  interp      0
13   2015-01-01 13:00:00  interp      0
14   2015-01-01 14:00:00  interp      0
15   2015-01-01 15:00:00  interp      0
16   2015-01-01 16:00:00  interp      0
17   2015-01-01 17:00:00  interp      0
18   2015-01-01 18:00:00  interp      0
19   2015-01-01 19:00:00  interp      0
20   2015-01-01 20:00:00  interp      0
21   2015-01-01 21:00:00  interp      0
22   2015-01-01 22:00:00  interp      0
23   2015-01-01 23:00:00  interp      0
24   2015-01-02 00:00:00  interp      0
25   2015-01-02 01:00:00  interp      0
26   2015-01-02 02:00:00  interp      0
27   2015-01-02 03:00:00  interp      0
28   2015-01-02 04:00:00  interp      0
29   2015-01-02 05:00:00  interp      0
...                  ...     ...    ...
8731 2015-12-30 19:00:00  interp      0
8732 2015-12-30 20:00:00  interp      0
8733 2015-12-30 21:00:00  interp      0
8734 2015-12-30 22:00:00  interp      0
8735 2015-12-30 23:00:00  interp      0
8736 2015-12-31 00:00:00  interp      0
8737 2015-12-31 01:00:00  interp      0
8738 2015-12-31 02:00:00  interp      0
8739 2015-12-31 03:00:00  interp      0
8740 2015-12-31 04:00:00  interp      0
8741 2015-12-31 05:00:00  interp      0
8742 2015-12-31 06:00:00  interp      0
8743 2015-12-31 07:00:00  interp      0
8744 2015-12-31 08:00:00  interp      0
8745 2015-12-31 09:00:00  interp      0
8746 2015-12-31 10:00:00  interp      0
8747 2015-12-31 11:00:00  interp      0
8748 2015-12-31 12:00:00  interp      0
8749 2015-12-31 13:00:00  interp      0
8750 2015-12-31 14:00:00  interp      0
8751 2015-12-31 15:00:00  interp      0
8752 2015-12-31 16:00:00  interp      0
8753 2015-12-31 17:00:00  interp      0
8754 2015-12-31 18:00:00  interp      0
8755 2015-12-31 19:00:00  interp      0
8756 2015-12-31 20:00:00  interp      0
8757 2015-12-31 21:00:00  interp      0
8758 2015-12-31 22:00:00  interp      0
8759 2015-12-31 23:00:00  interp      0
8760 2016-01-01 00:00:00  interp      0

[8761 rows x 3 columns]

In [28]:
#df.dtypes
print data.dtypes
data = data.convert_objects(convert_dates=True,convert_numeric=True)
data['data_time'] = pd.to_datetime(data.date_time)
print data.dtypes
print data_interp.dtypes
concatenated = pd.concat([data,data_interp])
#concatenated = concatenated.sort('date_time',ascending=1)
#concatenated
#frame.dtypes
#print df['date_time'].describe()

date_time            object
event                object
knots               float64
data_time    datetime64[ns]
dtype: object
date_time            object
event                object
knots               float64
data_time    datetime64[ns]
dtype: object
date_time    datetime64[ns]
event                object
knots               float64
dtype: object

In [13]:
newdf = df.convert_objects(convert_dates=True,convert_numeric=True)
newdf['date_time']=pd.to_datetime(df['date_time'])
newdf.dtypes
newdf

               date_time   event  knots
0    2015-01-01 00:57:00   slack    0.0
1    2015-01-01 03:37:00   flood    1.3
2    2015-01-01 06:40:00   slack    0.0
3    2015-01-01 10:30:00     ebb   -2.3
4    2015-01-01 13:33:00   slack    0.0
5    2015-01-01 16:07:00   flood    1.3
6    2015-01-01 19:10:00   slack    0.0
7    2015-01-01 22:54:00     ebb   -2.3
8    2015-01-02 01:51:00   slack    0.0
9    2015-01-02 04:31:00   flood    1.4
10   2015-01-02 07:34:00   slack    0.0
11   2015-01-02 11:24:00     ebb   -2.4
12   2015-01-02 14:21:00   slack    0.0
13   2015-01-02 17:01:00   flood    1.4
14   2015-01-02 19:58:00   slack    0.0
15   2015-01-02 23:48:00     ebb   -2.3
16   2015-01-03 02:39:00   slack    0.0
17   2015-01-03 05:19:00   flood    1.4
18   2015-01-03 08:22:00   slack    0.0
19   2015-01-03 12:12:00     ebb   -2.4
20   2015-01-03 15:09:00   slack    0.0
21   2015-01-03 17:49:00   flood    1.4
22   2015-01-03 20:46:00   slack    0.0
23   2015-01-04 00:30:00     ebb   -2.4
24   2015-01-04 03:27:00   slack    0.0
25   2015-01-04 06:07:00   flood    1.4
26   2015-01-04 09:10:00   slack    0.0
27   2015-01-04 12:54:00     ebb   -2.4
28   2015-01-04 15:57:00   slack    0.0
29   2015-01-04 18:31:00   flood    1.4
...                  ...     ...    ...
2792 2015-12-28 06:09:00   slack    0.0
2793 2015-12-28 08:43:00   flood    1.4
2794 2015-12-28 11:52:00   slack    0.0
2795 2015-12-28 15:24:00     ebb   -2.4
2796 2015-12-28 18:39:00   slack    0.0
2797 2015-12-28 21:07:00   flood    1.4
2798 2015-12-29 00:16:00   slack    0.0
2799 2015-12-29 03:42:00     ebb   -2.4
2800 2015-12-29 06:57:00   slack    0.0
2801 2015-12-29 09:25:00   flood    1.4
2802 2015-12-29 12:40:00   slack    0.0
2803 2015-12-29 16:12:00     ebb   -2.4
2804 2015-12-29 19:27:00   slack    0.0
2805 2015-12-29 21:55:00   flood    1.3
2806 2015-12-30 01:04:00   slack    0.0
2807 2015-12-30 04:30:00     ebb   -2.3
2808 2015-12-30 07:45:00   slack    0.0
2809 2015-12-30 10:13:00   flood    1.3
2810 2015-12-30 13:28:00   slack    0.0
2811 2015-12-30 16:54:00     ebb   -2.3
2812 2015-12-30 20:15:00   slack    0.0
2813 2015-12-30 22:37:00   flood    1.2
2814 2015-12-31 01:52:00   slack    0.0
2815 2015-12-31 05:12:00     ebb   -2.2
2816 2015-12-31 08:33:00   slack    0.0
2817 2015-12-31 11:01:00   flood    1.2
2818 2015-12-31 14:10:00   slack    0.0
2819 2015-12-31 17:36:00     ebb   -2.2
2820 2015-12-31 21:03:00   slack    0.0
2821 2015-12-31 23:25:00   flood    1.2

[2822 rows x 3 columns]

In [6]:
print newdf['date_time'][1]-frame['date_time'][1]

0 days 02:37:00

In [14]:
df.convert_objects(convert_dates=True,convert_numeric=True)
tdiff = df[pd.to_datetime(df['date_time'])>trng[4000]]
print tdiff

             date_time   event knots
1288  2015-06-16 17:03   slack     0
1289  2015-06-16 19:43   flood   1.5
1290  2015-06-16 22:58   slack     0
1291  2015-06-17 02:36     ebb  -2.5
1292  2015-06-17 05:39   slack     0
1293  2015-06-17 08:13   flood   1.5
1294  2015-06-17 11:22   slack     0
1295  2015-06-17 14:54     ebb  -2.4
1296  2015-06-17 17:51   slack     0
1297  2015-06-17 20:31   flood   1.5
1298  2015-06-17 23:46   slack     0
1299  2015-06-18 03:18     ebb  -2.5
1300  2015-06-18 06:27   slack     0
1301  2015-06-18 09:01   flood   1.4
1302  2015-06-18 12:10   slack     0
1303  2015-06-18 15:36     ebb  -2.4
1304  2015-06-18 18:39   slack     0
1305  2015-06-18 21:19   flood   1.4
1306  2015-06-19 00:28   slack     0
1307  2015-06-19 04:00     ebb  -2.4
1308  2015-06-19 07:09   slack     0
1309  2015-06-19 09:43   flood   1.4
1310  2015-06-19 12:52   slack     0
1311  2015-06-19 16:18     ebb  -2.3
1312  2015-06-19 19:27   slack     0
1313  2015-06-19 22:01   flood   1.4
1314  2015-06-20 01:16   slack     0
1315  2015-06-20 04:42     ebb  -2.3
1316  2015-06-20 07:57   slack     0
1317  2015-06-20 10:25   flood   1.3
...                ...     ...   ...
2792  2015-12-28 06:09   slack     0
2793  2015-12-28 08:43   flood   1.4
2794  2015-12-28 11:52   slack     0
2795  2015-12-28 15:24     ebb  -2.4
2796  2015-12-28 18:39   slack     0
2797  2015-12-28 21:07   flood   1.4
2798  2015-12-29 00:16   slack     0
2799  2015-12-29 03:42     ebb  -2.4
2800  2015-12-29 06:57   slack     0
2801  2015-12-29 09:25   flood   1.4
2802  2015-12-29 12:40   slack     0
2803  2015-12-29 16:12     ebb  -2.4
2804  2015-12-29 19:27   slack     0
2805  2015-12-29 21:55   flood   1.3
2806  2015-12-30 01:04   slack     0
2807  2015-12-30 04:30     ebb  -2.3
2808  2015-12-30 07:45   slack     0
2809  2015-12-30 10:13   flood   1.3
2810  2015-12-30 13:28   slack     0
2811  2015-12-30 16:54     ebb  -2.3
2812  2015-12-30 20:15   slack     0
2813  2015-12-30 22:37   flood   1.2
2814  2015-12-31 01:52   slack     0
2815  2015-12-31 05:12     ebb  -2.2
2816  2015-12-31 08:33   slack     0
2817  2015-12-31 11:01   flood   1.2
2818  2015-12-31 14:10   slack     0
2819  2015-12-31 17:36     ebb  -2.2
2820  2015-12-31 21:03   slack     0
2821  2015-12-31 23:25   flood   1.2

[1534 rows x 3 columns]

In [128]:
tdiff.abs()

TypeError: bad operand type for abs(): 'str'